* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --color-light: #fff;
  --bg-dark: #222222;
  --bg-darker: #282829;
  --ff-primary: Arial, Helvetica, sans-serif;
  --ff-secondary: "Prata", sans-serif;
}

.container {
  max-width: 1900px;
  margin: 0 auto;
}

.btn {
  border-radius: 4px;
  border: none;
  font-family: var(--ff-primary);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .btn:hover {
    cursor: pointer;
    background-color: #ff6b00;
    color: var(--color-light);
  }
}

@media (min-width: 768px) {
  .btn {
    padding: 2rem 4rem;
  }
}

/* HEADER */

.header {
  background-color: var(--bg-dark);
  color: var(--color-light);
}

.header__inner {
  padding-left: 8rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.header__content {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  text-transform: uppercase;
}

.logo {
  font-family: var(--ff-secondary);
  font-size: 2.4rem;
  text-transform: uppercase;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: var(--ff-primary);
}

.nav-item a {
  transition: all 0.3s ease-in-out;
}

.nav-item:hover a {
  cursor: pointer;
  color: #ff6b00;
  border-bottom: 1px solid #ff6b00;
  padding-bottom: 0.5rem;
}

.hamburger {
  width: 30px;
  display: none;
  flex-direction: column;
  gap: 6px;
}

.hamburger > div {
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--color-light);
}

.header__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 16rem 0 4rem;
}

.content__title {
  font-size: 8rem;
  line-height: 9rem;
  font-weight: 400;
  font-family: var(--ff-secondary);
}

.content__subtitle {
  font-size: 4rem;
  line-height: 5rem;
  font-family: var(--ff-primary);
  margin-bottom: 4rem;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: var(--ff-primary);
  margin-bottom: 2rem;
}

.content__list_item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.content__list_item p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.content__list_item span {
  font-size: 4rem;
  line-height: 6rem;
}

.content__button {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--bg-dark);
  background: var(--color-light);
}

.welcome__image {
  width: 45%;
}

.welcome__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1440px) {
  .header__inner {
    padding-left: 6rem;
    gap: 2rem;
  }

  .hamburger {
    display: none;
  }

  .nav-items {
    gap: 4rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .header__bottom {
    padding: 12rem 0 4rem;
  }

  .content__title {
    font-size: 7rem;
    line-height: 8rem;
  }

  .content__subtitle {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 3rem;
  }

  .content__list {
    gap: 2rem;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .content__button {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

@media (max-width: 1024px) {
  .header__inner {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .header__content {
    width: 100%;
  }

  .hamburger {
    display: none;
  }

  .welcome__image {
    display: none;
  }

  .nav-item:hover a {
    cursor: default;
    color: inherit;
    border-bottom: none;
    padding-bottom: 0rem;
  }
}

@media (max-width: 768px) {
  .header__inner {
    padding: 0 4rem;
  }

  .nav-items {
    position: fixed;
    z-index: 10;
    transform: translateX(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-darker);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    transition: all 0.3s ease-in-out;
    font-size: 2.4rem;
  }

  .nav-open {
    transform: translateX(0);
  }

  .hamburger {
    display: flex;
    transition: all 0.3s ease-in-out;
  }

  .hamburger-open {
    position: relative;
    z-index: 20;
    transform: rotate(-90deg);
  }

  .header__bottom {
    padding-top: 10rem;
  }

  .content__title {
    font-size: 6rem;
    line-height: 7rem;
  }

  .content__subtitle {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 2rem;
  }

  .content__list {
    gap: 2rem;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .content__list_item span {
    font-size: 3rem;
    line-height: 4rem;
  }

  .content__button {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

@media (max-width: 540px) {
  .header__inner {
    padding: 0 2rem;
  }

  .header__bottom {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .content__title {
    font-size: 4.5rem;
    line-height: 5.5rem;
  }

  .content__subtitle {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .content__list {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .content__list_item {
    gap: 1rem;
  }

  .content__list_item img {
    width: 2.5rem;
  }

  .content__list_item span {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .content__button {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

/* ACTIVES  */

.actives {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: var(--bg-darker);
  padding: 10rem 0 0;
}

.actives > div {
  width: 33%;
}

.actives > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actives__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 2rem;
}

.actives__list {
  display: flex;
  flex-direction: column;
}

.actives__list > li {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--color-light);
  font-size: 2rem;
  line-height: 3rem;
  font-family: var(--ff-primary);
  border-bottom: 1px solid #55565a;
  width: 100%;
}

.actives__list > li:last-child {
  border: none;
}

.actives__button {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  margin-top: auto;
}

@media (max-width: 1440px) {
  .actives__list > li {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .actives__button {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .actives__content {
    padding: 0 1rem;
  }
}

@media (max-width: 1024px) {
  .actives__image_right {
    display: none;
  }

  .actives__content {
    padding: 0 2rem;
  }

  .actives > div {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .actives {
    flex-direction: column;
    padding: 8rem 4rem;
  }

  .actives > div {
    width: 100%;
  }

  .actives__image_left {
    height: 400px;
    overflow: hidden;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }

  .actives__image_left > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .actives__content {
    padding: 0;
  }
}

@media (max-width: 540px) {
  .actives {
    padding: 8rem 2rem;
  }

  .actives__list > li {
    font-size: 1.4rem;
    line-height: 1.8rem;
    gap: 1rem;
    padding: 2rem 0;
    text-align: justify;
  }

  .actives__list > li > img {
    width: 3rem;
  }

  .actives__button {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

/* APPLICATION */

.application {
  background: var(--bg-darker);
  padding: 10rem 2rem 0;
}

.application__content {
  max-width: 1600px;
  margin: 0 auto;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--color-light);
  position: relative;
  z-index: 10;
}

.application__form {
  width: 60%;
  padding: 7rem 4rem 7rem 13rem;
  display: flex;
  flex-direction: column;
}

.application__title {
  font-size: 5.4rem;
  line-height: 6rem;
  font-weight: 400;
  margin-bottom: 5rem;
  font-family: var(--ff-secondary);
}

.application__form > input {
  font-size: 2.4rem;
  line-height: 3.2rem;
  border: 1px solid #d6d6d6;
  border-radius: 0.4rem;
  padding: 1.4rem 4rem;
  margin-bottom: 2rem;
}

.application__privacy {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  line-height: 2.6rem;
  color: #55565a;
  user-select: none;
}

.application__button {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--color-light);
  background: var(--bg-dark);
  font-weight: 400;
  padding: 3rem 0;
}

.application__image {
  width: 40%;
  background-image: url("./assets/form-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
}

.application__image img {
  position: absolute;
  z-index: 20;
  bottom: 0;
  right: 6%;
}

@media (max-width: 1600px) {
  .application__image img {
    right: 40px;
  }
}

@media (max-width: 1440px) {
  .application {
    padding: 10rem 8rem 0;
  }

  .application__content {
    gap: 5rem;
  }

  .application__form {
    width: 50%;
    padding: 7rem 4rem 7rem 8rem;
  }

  .application__image {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .application {
    padding: 10rem 8rem 0;
  }

  .application__content {
    gap: 3rem;
  }

  .application__form {
    padding: 5rem;
  }

  .application__title {
    font-size: 4rem;
    line-height: 4.8rem;
    margin-bottom: 4rem;
  }

  .application__form > input {
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 1.2rem 3rem;
    margin-bottom: 1.5rem;
  }

  .application__button {
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 2rem 0;
  }

  .application__privacy {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .application__image > img {
    width: 450px;
    right: 100px;
  }
}

@media (max-width: 1024px) {
  .application {
    padding: 10rem 6rem 0;
  }
  .application__form {
    width: 55%;
    padding: 3rem;
  }

  .application__title {
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 3rem;
  }

  .application__privacy {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .application__image {
    width: 45%;
  }

  .application__image img {
    width: 400px;
    right: 0;
  }
}

@media (max-width: 800px) {
  .application {
    padding: 8rem 4rem 0;
  }

  .application__form {
    width: 60%;
    padding: 2rem;
  }

  .application__title {
    font-size: 3rem;
    line-height: 3.6rem;
    margin-bottom: 2rem;
  }

  .application__form > input {
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 1.2rem 2rem;
    margin-bottom: 1rem;
  }

  .application__privacy {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .application__button {
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 1.5rem 0;
  }

  .application__image {
    width: 40%;
  }

  .application__image img {
    width: 310px;
  }
}

@media (max-width: 700px) {
  .application__image {
    display: none;
  }

  .application__form {
    width: 100%;
    padding: 5rem 3rem;
  }
}

@media (max-width: 540px) {
  .application {
    padding: 8rem 2rem 0;
  }
}

/* FOOTER */

.footer {
  background: var(--bg-darker);
  padding-top: 10rem;
  color: var(--color-light);
}

.footer__top {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #d5c9be;
  border-bottom: 2px solid #d5c9be;
}

.footer__list {
  display: flex;
  align-items: center;
  gap: 6rem;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 3rem;
  padding: 4rem 0;
}

.footer__list > li > a:hover {
  color: #ff6b00;
  transition: 0.3s;
}

.footer__bottom {
  max-width: 1640px;
  margin: 0 auto;
  padding: 5rem 2rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff-primary);
}

.footer__bottom > div {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer__copyright > p,
.footer__bottom a {
  font-size: 2rem;
  line-height: 3rem;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social > ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.footer__buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 1440px) {
  .footer__bottom {
    padding: 5rem 8rem;
  }
}

@media (max-width: 1024px) {
  .footer__bottom {
    padding: 5rem 6rem;
  }

  .footer__bottom > div {
    gap: 2rem;
  }

  .footer__copyright > p,
  .footer__bottom a {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

@media (max-width: 768px) {
  .footer__bottom {
    padding: 5rem 4rem;
  }
  .footer__list {
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 2rem 0;
  }

  .footer__bottom {
    flex-wrap: wrap;
    gap: 4rem;
  }

  .footer__social {
    flex: 1;
    order: 1;
  }
}

@media (max-width: 540px) {
  .footer__bottom {
    padding: 5rem 2rem;
  }

  .footer__social > ul {
    gap: 2rem;
  }

  .footer__list {
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 2rem 0;
    gap: 3rem;
  }
}
